*{
    margin:0px;
    padding:0px;
}
.navbar{
    height:3.125rem;
    width:100%;
    background-color: white;
    top:0;
    display:flex;
    align-items:center;
    }
.logo{color: rgb(4,4,147);margin-left: 10px;
margin-right:80px;
}
.navbar button{
    background-color: red;
    color:white;
    position:absolute;
    right:0;
    height:40px;
    font-size:1em;

}
.start{ 
    justify-content: center;
    margin-right:40px;
    margin-left:20px;
    color:rgb(4,4,147);
    
    
}

.navbar a{
    padding: 0%;
    height:100%;
    font-size: 1.3em;
    text-decoration: none;
}
#navbar2{
    
    height:60px;
    width:100%;
    background-color:aliceblue;
    color:rgb(4,4,147);
    display:flex;
    justify-content: center;
    font-size: x-large;
    align-items: center;
    flex-direction: column;
}
.info{
    justify-content:center;
    font-size: 15px;
}
#content{
    height:500px;
    width:80%;
    display:flex;
    justify-content: flex-start;
    border: 1px solid black;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 6px;
    margin-top:10px;
    margin-right: 90px;;
    margin-left:120px;
    box-shadow: inset 0 0 25px rgba(126, 166, 184, 0.25);
}
.details {
    margin-top: 25px;
    margin-left: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    row-gap: 40px;
    column-gap: 200px;
}
.field {
    display: flex;
    flex-direction: row;
}

.field label {
    color: rgb(4,4,147);
    gap:40px;
}

.field input {
    width: 250px;
    height: 20px;
    padding: 5px;
}
#dep{
    width:500px;
    height:20px;
    row-gap: 0;
    margin-left:10px;
}
#reason{
    width:500px;
    height:20px;
    row-gap: 0;
    margin-left:10px;

}
.book{
    width:900px;
    height:60px;
    margin-left:10px;
    background-color: rgb(4,4,147);
    color:white;
    font-size: large;

}
.last{margin-top:25px;
    background-color: rgb(4,4,147);
    height:4rem;
    width:100%;
    display:flex;
    align-items:center;
    flex-direction: column;
    }
.footertop{
    display: flex;
    align-items: center;
}
.endlogo{color:white;margin-left: 10px;
margin-right:80px;
}
.end{ 
    justify-content: center;
    margin-right:40px;
    margin-left:20px;
    color:white;
    font-size: large;
    text-decoration: none;
}

.slogan{
    display:flex;
    flex-direction: column;
}
.eend{
    margin-left:50px;
    color:white;
}
.copyright{
    color: white;
    text-align: center;
    margin-top: 5px;
    width: 100%;
    font-size: small;
    margin-top: 8px;
}