*{
    margin:0px;
    padding:0px;
}
.navbar{
    height:3.125rem;
    width:100%;
    background-color: white;
    top:0;
    display:flex;
    align-items:center;
    }
.logo{color: rgb(3, 3, 74);margin-left: 10px;
margin-right:80px;
}
.navbar button{
    background-color: red;
    color:white;
    position:absolute;
    right:0;
    height:40px;
    font-size:1em;

}
.start{ 
    justify-content: center;
    margin-right:40px;
    margin-left:20px;
    color:rgb(4, 4, 147);
    
    
}

.navbar a{
    padding: 0%;
    height:100%;
    font-size: 1.3em;
    text-decoration: none;
}
#navbar2{
    
    height:60px;
    width:100%;
    background-color:aliceblue;
    color:rgb(4, 4, 147);
    display:flex;
    justify-content: center;
    font-size: x-large;
    align-items: center;
    flex-direction: column;
}
#hdepartment{
   display: flex;
   justify-content: center;
   color:rgb(4, 4, 147);
   font-size:15px;
   font-style: bold;
   font-weight: 100; 
   margin-top: 20px;
}
#motive{
    display: flex;
   justify-content: center;
   color: rgb(3, 3, 74);
   font-size:15px;
}
#hdep1{
    height:200px;
    width:100%;
    display:flex;
    margin-top: 20px;
   
}
#cardiology{
    height:200px;
    width:250px;
    background: linear-gradient(to bottom, white,#9fdaf8);
    box-shadow:0px 4px 10px;
    border-radius: 10px;
    margin-left: 150px;
    margin-top: 20px;
    display:flex;
    flex-direction: column;

}
#cardioimage{
    height: 80px;
    width:80px;
    border-radius:100%;
    display:flex;
    margin-left: 90px;
    margin-top: 10px;
}
#headingdep{
    color:rgb(3, 3, 74);
    text-align: center;
    margin-top: 4px;
}
#motodep{
    color: #788891;
    text-align: center;
    margin-top: 4px;
    
}
#linkdep{
    color:rgb(4, 4, 147) ;
    text-align: center;
    margin-top: 15px;
    text-decoration:none;

}
#dentistry{
    height:200px;
    width:250px;
    background: linear-gradient(to bottom, white,#9fdaf8);
    border-radius: 10px;
    box-shadow:0px 4px 10px;
    margin-left: 100px;
    margin-top: 20px;
    display:flex;
    flex-direction: column;

}
#dentistryimage{
    height: 80px;
    width:80px;
    border-radius:100%;
    display:flex;
    margin-left: 90px;
    margin-top: 10px;
}
#medicine{
    height:200px;
    width:250px;
    background: linear-gradient(to bottom, white,#9fdaf8);
    box-shadow:0px 4px 10px;
    border-radius: 10px;
    margin-left: 100px;
    margin-top: 20px;
    display:flex;
    flex-direction: column;

}
#medicineimage{
    height: 80px;
    width:80px;
    border-radius:100%;
    display:flex;
    margin-left: 90px;
    margin-top: 10px;
}
#hdep2{
    height:200px;
    width:100%;
    display:flex;
    margin-top: 20px;
   
}
#pediatrics{
    height:200px;
    width:250px;
    background: linear-gradient(to bottom, white,#9fdaf8);
    box-shadow:0px 4px 10px;
    border-radius: 10px;
    margin-left: 150px;
    margin-top: 20px;
    display:flex;
    flex-direction: column;

}
#pediatricsimage{
    height: 80px;
    width:80px;
    border-radius:100%;
    display:flex;
    margin-left: 90px;
    margin-top: 10px;
}
#orthopedics{
    height:200px;
    width:250px;
    background: linear-gradient(to bottom, white,#bddeee);
    box-shadow:0px 4px 10px;
    box-shadow:0px 4px 10px;
    border-radius: 10px;
    margin-left: 100px;
    margin-top: 20px;
    display:flex;
    flex-direction: column;

}
#orthopedicsimage{
    height: 80px;
    width:80px;
    border-radius:100%;
    display:flex;
    margin-left: 90px;
    margin-top: 10px;
}
#pulmunology{
    height:200px;
    width:250px;
    background: linear-gradient(to bottom, white,#9fdaf8);
    box-shadow:0px 4px 10px;
    box-shadow:0px 4px 10px;
    border-radius: 10px;
    margin-left: 100px;
    margin-top: 20px;
    display:flex;
    flex-direction: column;

}
#pulmunologyimage{
    height: 80px;
    width:80px;
    border-radius:100%;

    display:flex;
    margin-left: 90px;
    margin-top: 10px;
}
.last{margin-top:50px;
    background-color: rgb(4,4,147);
    height:4rem;
    width:100%;
    display:flex;
    align-items:center;
    flex-direction: column;
    }
.footertop{
    display: flex;
    align-items: center;
}
.endlogo{color:white;margin-left: 10px;
margin-right:80px;
}
.end{ 
    justify-content: center;
    margin-right:40px;
    margin-left:20px;
    color:white;
    font-size: large;
    text-decoration: none;
}

.slogan{
    display:flex;
    flex-direction: column;
}
.eend{
    margin-left:50px;
    color:white;
}
.copyright{
    color: white;
    text-align: center;
    margin-top: 5px;
    width: 100%;
    font-size: small;
    margin-top: 8px;
}
